In [1]:
500%%5

[1] 0

In [3]:
500%/%5

[1] 100

In [6]:
factor(5,7,6)

[1] <NA>
Levels: 6

In [8]:
x<-5
x

[1] 5

In [9]:
y=5
y

[1] 5

In [16]:
if ((x<3) & (y<6))
    print ("yes")
else (x>3)
    print ("no")

ERROR: Error in parse(text = x, srcfile = src): <text>:3:1: unexpected 'else'
2:     print ("yes")
3: else
   ^

In [17]:
data = c(1,2,3,3,2,1)
la=factor(data,lables=c('a','b','c'))

ERROR: Error in factor(data, lables = c("a", "b", "c")): unused argument (lables = c("a", "b", "c"))

In [2]:
v= list(4,5,6)
v$5

ERROR: Error in parse(text = x, srcfile = src): <text>:2:3: unexpected numeric constant
1: v= list(4,5,6)
2: v$5
     ^

In [3]:
x=5.5656
round(x,2)

[1] 5.57

In [4]:
n=c(2,3,3)
log(x,n)

[1] 2.476537 1.562521 1.562521

In [68]:
y=1420
round(y,-3)

y=1420
round(y,-2)

w=1920
round(w,-3)

[1] 1000

[1] 1400

[1] 2000

In [93]:
x=3
seq (1,5,2)

[1] 1 3 5

In [98]:
rep(c(11,12,13),3)
rep(c(11,12,13),each=3)

[1] 11 12 13 11 12 13 11 12 13

[1] 11 11 11 12 12 12 13 13 13

In [5]:
sales = c(10,50,81,89,99)

ordered = order(sales)

#rank = rank(sales)

view = data.frame(sales,ordered)
view

  sales ordered
1 10    1
2 50    2
3 81    3
4 89    4
5 99    5

In [132]:
sales1= c(110,50,80,89,99)
ordered1 = order(sales1)

#rank = rank(sales)
view1 = data.frame(sales1,ordered1)
view1

  sales1 ordered1
1 110    2
2  50    3
3  80    4
4  89    5
5  99    1

In [125]:
sports  = c ("a","b","c")
popular = c("z","y","w","a")
which (sports%in%popular)
which (popular%in%sports)
sports[which (sports%in%popular)]

[1] 1

[1] 4

[1] "a"

In [128]:
a=c("server","client")
b=c("1","2")
paste (a,b,sep=" ")
paste (a,b)

[1] "server 1" "client 2"

[1] "server 1" "client 2"

In [143]:
x <- c("apple","potato1","10", "grape")
grep("g",x)

[1] 4

In [144]:
grep ("g",x,value = T)

[1] "grape"

In [145]:
grep("[[:digit:]]",x,value=T)
grep("[[:digit:]]",x)

[1] "potato1" "10"

[1] 2 3

In [146]:
word <-"apple"
substr(word,start=2,stop=4)

[1] "ppl"

In [149]:
word <-"pineapple"
chartr("a","A",word)

[1] "pineApple"

In [4]:
x=12.3567890
signif(x,digit=3)

[1] 12.4

In [6]:
??control

In [7]:
y = c("x",1)

In [8]:
y

[1] "x" "1"

In [25]:
x <-c("a","b","c")
if ("av" %in% x)
{print ("yes")
}else if ("ba" %in% x) {
    print ("no")
}else {
    print ("its c")
}

[1] "its c"

In [14]:
m <- matrix(1:6,nrow=2,ncol=3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [16]:
m  <- c(1,2,3,4)
dim(m) = c(2,2)
m

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [27]:
x<- 1:10
y<-50:60
m <- cbind(x,y)
m

Warning message in cbind(x, y):
“number of rows of result is not a multiple of vector length (arg 1)”

      x  y
 [1,]  1 50
 [2,]  2 51
 [3,]  3 52
 [4,]  4 53
 [5,]  5 54
 [6,]  6 55
 [7,]  7 56
 [8,]  8 57
 [9,]  9 58
[10,] 10 59
[11,]  1 60

In [32]:
switch("shape","color"="red","shape"="square")

[1] "square"

In [47]:
x<-factor(c("yes","no", "no", "yes","naa"),levels=c('yes','no','naa'))
x

[1] yes no  no  yes naa
Levels: yes no naa

In [48]:
table(x)

x
yes  no naa
  2   2   1

In [49]:
unclass(x)

[1] 1 2 2 1 3
attr(,"levels")
[1] "yes" "no"  "naa"

In [50]:
attr(x,"levels")

[1] "yes" "no"  "naa"

In [51]:
v <- c ("Hello", "Loop")
cnt <- 2
repeat{
    print (v)
    cnt = cnt +1
    if (cnt > 5){
        break
    }
}

[1] "Hello" "Loop"
[1] "Hello" "Loop"
[1] "Hello" "Loop"
[1] "Hello" "Loop"

In [56]:
x<-c(1,2,NA,3)
x

[1]  1  2 NA  3

In [53]:
is.na(x)

[1] FALSE FALSE  TRUE FALSE

In [57]:
is.nan(x)

[1] FALSE FALSE FALSE FALSE

In [59]:
x = 5
cnt = 5
while (x>1){
    print ("greater")
    x = x -1
}

[1] "greater"
[1] "greater"
[1] "greater"
[1] "greater"

In [60]:
x<- data.frame(foo = 1:4, bar = c(T,F,F,T))
x

  foo bar
1 1    TRUE
2 2   FALSE
3 3   FALSE
4 4    TRUE

In [61]:
nrow(x)

[1] 4

In [66]:
x <- 1:3
x
names(x) <- c("a","c", "b")
x

[1] 1 2 3

a c b
1 2 3

In [67]:
x = list('y' = 1, 2, 3)
x

$y
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

In [75]:
m <- matrix(1:4,nrow=2,ncol =2)
m

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [80]:
dimnames(m) <- list(c('a','b'),c('zzz','yyy'))
m

  zzz yyy
a 1   3
b 2   4

In [71]:
z <- LETTERS[1:4]
for (a in z){
    print (a)
}

[1] "A"
[1] "B"
[1] "C"
[1] "D"

In [82]:
x = matrix(nrow=10,ncol = 10)
print (dim(x))
for ( i in 1:dim(x)[1]) {
    for (j in 1:dim(x)[2]){
        x[i,j] = i *j
    }
}

x

[1] 10 10

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1    2    3    4    5    6    7    8    9    10
 [2,]  2    4    6    8   10   12   14   16   18    20
 [3,]  3    6    9   12   15   18   21   24   27    30
 [4,]  4    8   12   16   20   24   28   32   36    40
 [5,]  5   10   15   20   25   30   35   40   45    50
 [6,]  6   12   18   24   30   36   42   48   54    60
 [7,]  7   14   21   28   35   42   49   56   63    70
 [8,]  8   16   24   32   40   48   56   64   72    80
 [9,]  9   18   27   36   45   54   63   72   81    90
[10,] 10   20   30   40   50   60   70   80   90   100

In [89]:
data <- read.table('foo.txt')

In [90]:
data

  V1
1 a,b,c,b
2 1,2,3,4
3 5,6,7,8

In [2]:
library()

In [3]:
search ()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "jupyter:irkernel"
 [4] "package:stats"     "package:graphics"  "package:grDevices"
 [7] "package:utils"     "package:datasets"  "package:methods"
[10] "Autoloads"         "package:base"

In [5]:
.libpath()

ERROR: Error in eval(expr, envir, enclos): could not find function ".libpath"

### Important packages:
ggplot

plyr/dplyr - Filter, Select, Arrangem Mutate, Summarise

sqldf

reshape/reshape2

In [45]:
library(dplyr)
data(mtcars)
head(mtcars)
str(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [18]:
mtcars[mtcars$cyl==8&mtcars$gear==5,]

               mpg  cyl disp hp  drat wt   qsec vs am gear carb
Ford Pantera L 15.8 8   351  264 4.22 3.17 14.5 0  1  5    4
Maserati Bora  15.0 8   301  335 3.54 3.57 14.6 0  1  5    8

In [26]:
filter(mtcars,cyl==8,gear==5,carb==8) # ',' and '&' are same

  mpg  cyl disp hp  drat wt   qsec vs am gear carb
1 15.8 8   351  264 4.22 3.17 14.5 0  1  5    4
2 15.0 8   301  335 3.54 3.57 14.6 0  1  5    8

In [20]:
??str

In [28]:
mtcars[,c("mpg","cyl","gear")]

                    mpg  cyl gear
Mazda RX4           21.0 6   4
Mazda RX4 Wag       21.0 6   4
Datsun 710          22.8 4   4
Hornet 4 Drive      21.4 6   3
Hornet Sportabout   18.7 8   3
Valiant             18.1 6   3
Duster 360          14.3 8   3
Merc 240D           24.4 4   4
Merc 230            22.8 4   4
Merc 280            19.2 6   4
Merc 280C           17.8 6   4
Merc 450SE          16.4 8   3
Merc 450SL          17.3 8   3
Merc 450SLC         15.2 8   3
Cadillac Fleetwood  10.4 8   3
Lincoln Continental 10.4 8   3
Chrysler Imperial   14.7 8   3
Fiat 128            32.4 4   4
Honda Civic         30.4 4   4
Toyota Corolla      33.9 4   4
Toyota Corona       21.5 4   3
Dodge Challenger    15.5 8   3
AMC Javelin         15.2 8   3
Camaro Z28          13.3 8   3
Pontiac Firebird    19.2 8   3
Fiat X1-9           27.3 4   4
Porsche 914-2       26.0 4   5
Lotus Europa        30.4 4   5
Ford Pantera L      15.8 8   5
Ferrari Dino        19.7 6   5
Maserati Bora       15.0 8   5
Volvo 142E          21.4 4   4

In [29]:
select(mtcars,gear,carb)

                    gear carb
Mazda RX4           4    4
Mazda RX4 Wag       4    4
Datsun 710          4    1
Hornet 4 Drive      3    1
Hornet Sportabout   3    2
Valiant             3    1
Duster 360          3    4
Merc 240D           4    2
Merc 230            4    2
Merc 280            4    4
Merc 280C           4    4
Merc 450SE          3    3
Merc 450SL          3    3
Merc 450SLC         3    3
Cadillac Fleetwood  3    4
Lincoln Continental 3    4
Chrysler Imperial   3    4
Fiat 128            4    1
Honda Civic         4    2
Toyota Corolla      4    1
Toyota Corona       3    1
Dodge Challenger    3    2
AMC Javelin         3    2
Camaro Z28          3    4
Pontiac Firebird    3    2
Fiat X1-9           4    1
Porsche 914-2       5    2
Lotus Europa        5    2
Ford Pantera L      5    4
Ferrari Dino        5    6
Maserati Bora       5    8
Volvo 142E          4    2

In [30]:
select(mtcars,mpg:disp,contains("gear"),contains("carb"))

                    mpg  cyl disp  gear carb
Mazda RX4           21.0 6   160.0 4    4
Mazda RX4 Wag       21.0 6   160.0 4    4
Datsun 710          22.8 4   108.0 4    1
Hornet 4 Drive      21.4 6   258.0 3    1
Hornet Sportabout   18.7 8   360.0 3    2
Valiant             18.1 6   225.0 3    1
Duster 360          14.3 8   360.0 3    4
Merc 240D           24.4 4   146.7 4    2
Merc 230            22.8 4   140.8 4    2
Merc 280            19.2 6   167.6 4    4
Merc 280C           17.8 6   167.6 4    4
Merc 450SE          16.4 8   275.8 3    3
Merc 450SL          17.3 8   275.8 3    3
Merc 450SLC         15.2 8   275.8 3    3
Cadillac Fleetwood  10.4 8   472.0 3    4
Lincoln Continental 10.4 8   460.0 3    4
Chrysler Imperial   14.7 8   440.0 3    4
Fiat 128            32.4 4    78.7 4    1
Honda Civic         30.4 4    75.7 4    2
Toyota Corolla      33.9 4    71.1 4    1
Toyota Corona       21.5 4   120.1 3    1
Dodge Challenger    15.5 8   318.0 3    2
AMC Javelin         15.2 8   304.0 3    2
Camaro Z28          13.3 8   350.0 3    4
Pontiac Firebird    19.2 8   400.0 3    2
Fiat X1-9           27.3 4    79.0 4    1
Porsche 914-2       26.0 4   120.3 5    2
Lotus Europa        30.4 4    95.1 5    2
Ford Pantera L      15.8 8   351.0 5    4
Ferrari Dino        19.7 6   145.0 5    6
Maserati Bora       15.0 8   301.0 5    8
Volvo 142E          21.4 4   121.0 4    2

In [41]:
filter(select(mtcars,gear,carb,cyl),cyl==8|cyl==6)

   gear carb cyl
1  4    4    6
2  4    4    6
3  3    1    6
4  3    2    8
5  3    1    6
6  3    4    8
7  4    4    6
8  4    4    6
9  3    3    8
10 3    3    8
11 3    3    8
12 3    4    8
13 3    4    8
14 3    4    8
15 3    2    8
16 3    2    8
17 3    4    8
18 3    2    8
19 5    4    8
20 5    6    6
21 5    8    8

In [34]:
select(mtcars,filter(1))

ERROR: Error in UseMethod("filter_"): no applicable method for 'filter_' applied to an object of class "c('double', 'numeric')"

In [63]:
?arrange

In [64]:
arrange(mtcars, cyl, disp,desc(disp))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
3  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
4  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
5  30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
6  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
7  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
8  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
9  21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
10 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
11 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
12 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
13 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
14 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
15 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
16 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
17 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
18 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
19 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
20 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
21 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
22 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
25 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
26 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
27 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
28 14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
29 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
30 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
31 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
32 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4

In [59]:
arrange(mtcars, cyl, disp,desc(disp))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
3  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
4  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
5  30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
6  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
7  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
8  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
9  21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
10 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
11 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
12 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
13 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
14 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
15 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
16 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
17 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
18 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
19 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
20 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
21 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
22 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
25 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
26 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
27 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
28 14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
29 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
30 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
31 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
32 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4

In [54]:
temp <-mtcars
temp

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [66]:
temp <- mutate(temp,mutate_new=wt)
temp

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb mutate_new
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    2.620
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    2.875
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    2.320
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    3.215
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    3.440
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    3.460
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    3.570
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    3.190
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    3.150
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    3.440
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    3.440
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    4.070
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    3.730
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    3.780
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    5.250
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    5.424
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    5.345
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    2.200
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    1.615
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    1.835
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    2.465
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    3.520
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    3.435
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    3.840
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    3.845
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    1.935
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    2.140
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    1.513
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    3.170
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    2.770
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    3.570
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    2.780

In [68]:
summarise(temp,avg_mg=mean(mpg))

  avg_mg
1 20.09062

In [70]:
summarise(group_by(mtcars,cyl),avg_mpg=mean(mpg))

  cyl avg_mpg
1 4   26.66364
2 6   19.74286
3 8   15.10000

In [2]:
install.packages("sqldf")

also installing the dependencies ‘bit’, ‘bit64’, ‘blob’, ‘memoise’, ‘pkgconfig’, ‘plogr’, ‘gsubfn’, ‘proto’, ‘RSQLite’, ‘chron’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [4]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Could not load tcltk.  Will use slower R code instead.
Loading required package: RSQLite

In [6]:
install.packages("tcltk")

Warning message:
“package ‘tcltk’ is not available (for R version 3.3.2)”Warning message:
“package ‘tcltk’ is a base package, and should not be updated”

In [7]:
library(sqldf)

In [9]:
sqldf("SELECT * FROM mtcars WHERE gear ==4")

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
5  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
6  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
7  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
8  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
9  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
10 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
11 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
12 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [10]:
sqldf("SELECT gear, COUNT(gear) as occurances FROM mtcars GROUP BY gear")

  gear occurances
1 3    15
2 4    12
3 5     5

In [12]:
temp2 <-mtcars

In [18]:
temp <-sqldf("SELeCT *, CASE 
WHEN gear > 4 THEN 'T'
WHEN cyl > 4 THEN 'T'
ELSE 'F'
END as Advanced
FROM temp2
")

temp

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb Advanced
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    T
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    T
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    F
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    T
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    T
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    T
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    T
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    F
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    F
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    T
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    T
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    T
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    T
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    T
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    T
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    T
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    T
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    F
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    F
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    F
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    F
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    T
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    T
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    T
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    T
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    F
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    T
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    T
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    T
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    T
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    T
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    F

In [19]:
temp3 <-mtcars

In [29]:
temp3 <-sqldf("SELECT *, CASE
WHEN gear > 4 THEN 'T'
WHEN cyl > 4 THEN 'T'
WHEN carb > 1 THEN 'C'
ELSE 'F'
END as Advanced
FROM temp2
ORDER BY Advanced, cyl DESC
")

temp3

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb Advanced
1  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    C
2  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    C
3  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    C
4  21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    C
5  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    F
6  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    F
7  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    F
8  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    F
9  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    F
10 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    T
11 14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    T
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    T
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    T
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    T
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    T
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    T
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    T
18 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    T
19 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    T
20 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    T
21 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    T
22 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    T
23 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    T
24 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    T
25 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    T
26 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    T
27 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    T
28 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    T
29 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    T
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    T
31 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    T
32 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    T

## Multi table operation

In [32]:
df1 <- data.frame(ID=c(1:10), Name = LETTERS[1:10],Bol = rep(c(T,F),5))
df2 <- data.frame(ID=c(5:15),ParentName=LETTERS[5:15])
df1
df2

   ID Name Bol
1   1 A     TRUE
2   2 B    FALSE
3   3 C     TRUE
4   4 D    FALSE
5   5 E     TRUE
6   6 F    FALSE
7   7 G     TRUE
8   8 H    FALSE
9   9 I     TRUE
10 10 J    FALSE

   ID ParentName
1   5 E
2   6 F
3   7 G
4   8 H
5   9 I
6  10 J
7  11 K
8  12 L
9  13 M
10 14 N
11 15 O

In [42]:
left_join <-sqldf("SELECT * FROM df1 a LEFT JOIN df2 b ON a.ID =b.ID")
left_join

   ID Name Bol   ID ParentName
1   1 A     TRUE NA NA
2   2 B    FALSE NA NA
3   3 C     TRUE NA NA
4   4 D    FALSE NA NA
5   5 E     TRUE  5 E
6   6 F    FALSE  6 F
7   7 G     TRUE  7 G
8   8 H    FALSE  8 H
9   9 I     TRUE  9 I
10 10 J    FALSE 10 J

In [43]:
right_join <-sqldf("SELECT * FROM df2 a LEFT JOIN df1 b ON a.ID =b.ID")
right_join

   ID ParentName ID Name Bol
1   5 E           5 E     TRUE
2   6 F           6 F    FALSE
3   7 G           7 G     TRUE
4   8 H           8 H    FALSE
5   9 I           9 I     TRUE
6  10 J          10 J    FALSE
7  11 K          NA NA      NA
8  12 L          NA NA      NA
9  13 M          NA NA      NA
10 14 N          NA NA      NA
11 15 O          NA NA      NA

In [45]:
inner_join <-sqldf("SELECT * FROM df1 a INNER JOIN df2 b ON a.ID = b.ID")
inner_join

  ID Name Bol   ID ParentName
1  5 E     TRUE  5 E
2  6 F    FALSE  6 F
3  7 G     TRUE  7 G
4  8 H    FALSE  8 H
5  9 I     TRUE  9 I
6 10 J    FALSE 10 J

## Cast and melt functions

In [55]:
reshape_demo = data.frame(Person=c("Ab",'Bc','Cd','Ef','Fg'),
Country = c('I', 'K', 'L', 'G', 'M'),Amout = c(12,34,56,67,98),Time = c(5,3,6,7,9))
reshape_demo

  Person Country Amout Time
1 Ab     I       12    5
2 Bc     K       34    3
3 Cd     L       56    6
4 Ef     G       67    7
5 Fg     M       98    9

In [56]:
#install.packages("reshape")
library(reshape)

In [57]:
t(reshape_demo) #Transpose

        [,1] [,2] [,3] [,4] [,5]
Person  Ab   Bc   Cd   Ef   Fg
Country I    K    L    G    M
Amout   12   34   56   67   98
Time    5    3    6    7    9

In [68]:
melted <- melt(reshape_demo,id=c('Person','Country'))
melted

   Person Country variable value
1  Ab     I       Amout    12
2  Bc     K       Amout    34
3  Cd     L       Amout    56
4  Ef     G       Amout    67
5  Fg     M       Amout    98
6  Ab     I       Time      5
7  Bc     K       Time      3
8  Cd     L       Time      6
9  Ef     G       Time      7
10 Fg     M       Time      9

In [66]:
melted1 <- melt(reshape_demo,id=c('Person','Country','Time'))
melted1

  Person Country Time variable value
1 Ab     I       5    Amout    12
2 Bc     K       3    Amout    34
3 Cd     L       6    Amout    56
4 Ef     G       7    Amout    67
5 Fg     M       9    Amout    98

In [76]:
casted1 <- cast(melted,Country~variable,mean)
casted1

  Country Amout Time
1 G       67    7
2 I       12    5
3 K       34    3
4 L       56    6
5 M       98    9

In [77]:
casted1 <- cast(melted,Person~variable,mean)
casted1

  Person Amout Time
1 Ab     12    5
2 Bc     34    3
3 Cd     56    6
4 Ef     67    7
5 Fg     98    9

In [79]:
aaa <- function(a){
    for (i in 1:a)
        b <- i*i
        print (b)
}
    
aaa (5)

[1] 25